allure-pytest==2.3.2b1
allure-python-commons==2.3.2b1
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
configparser==3.5.0
crayons==0.1.2
enum34==1.1.6
glob2==0.6
idna==2.6
Mako==1.0.7
MarkupSafe==1.0
more-itertools==4.1.0
parse==1.8.2
parse-type==0.4.2
pluggy==0.6.0
py==1.5.3
PyMySQL==0.8.0
pytest==3.5.0
pytest-base-url==1.4.1
pytest-bdd==2.20.0
pytest-html==1.16.1
pytest-metadata==1.6.0
pytest-selenium==1.12.0
pytest-variables==1.7.1
requests==2.18.4
selenium==3.11.0
six==1.11.0
urllib3==1.26.5
